DATABASE_URL=postgresql+asyncpg://shortener:shortener_secret@postgres:5432/shortener
REDIS_URL=redis://redis:6379/0
SECRET_KEY=your-super-puper-secret-key-that-min-32-chars
ACCESS_TOKEN_EXPIRE_MINUTES=60
CLEANUP_UNUSED_DAYS=30
CACHE_TTL=300
BASE_URL=http://localhost:8000
